#topContent {
    text-align: center;
    background-color: #1F4788;
    color: white;
    font-size: 40pt;
    text-decoration: dashed;
    font-weight: bold;
    padding: 10px;
    height: 20%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mainContent {
    text-align: center;
    background-color: white;
    font-size: small;
    height: 65%;
    width: 80%;
}

#leftContent {
    float: left;
    background-color: #59ABE3;
    width: 20%;
    height: 65%;
    text-align: center;
}

#foot {
    width: 100%;
    height: 20%;
    background-color: #4B77BE;
}

h3 {
    border: 3px dashed white;
}
tr,td{
    border-bottom:2px solid white;
}
td:hover{
    background-color:#F5F5F5;
}
